@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    background-color: black;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-right: auto;
    margin-left: auto;
}

.question {
    color: white;
    font-size: 1.2rem;
    font-family: "Nova Square", cursive;
}

.choice-container {
    display: flex;
    color: black;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    background: white;
    font-size: 1rem;
    min-width: 10px;
    font-family: "Nova Square", cursive;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 grey;
    transform: transform 100ms;
}

.choice-prefix {
    padding: 1rem 1rem;
}

.choice-text {
    padding: 1rem;
    width: 100%;
}

.correct {
    background: rgba(11, 223, 36);
    border-radius: 5px;
}

.incorrect {
    background: rgba(230, 29, 29, 1);
    border-radius: 5px;
}

#hud {
    color: white;
    font-family: "Nova Square", cursive;
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768 px) {
    .choice-container {
        min-width: 20rem;
    }
}