@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
}
#cabecalho {
    color: white;
	padding: 12px 0px;
}
.navbar-brand{
	padding: 5px 15px;
}
.nav-item {
    padding: 5px 15px;
}
.nav-item:hover {
    cursor: pointer;
    color: gray;
}
#dashboard-area {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
}